/******************************************************************
Site Name: 
Author: 

Stylesheet: Base Stylesheet

******************************************************************/

html {
	background: #000000;
	height: 100vh;
	background-image: url("/img/dh.png");
	background-position: center center;
	background-repeat: no-repeat;
}

body {
	a {
		color: rgb(8, 160, 241);
		text-decoration: none;
		display: inline-block;
		letter-spacing: .05em;
		position: relative;
		text-transform: uppercase;
		font-size: 1.5em;
		text-shadow:-2px 2px 3px rgba(0,0, 0, .30);
	}
}

#main {

	@include container($wrapper-width);
	a {
		color: #2075C3;
		text-decoration: none;
	}
}