/******************************************************************
Site Name: 
Author: 

Stylesheet: Header Stylesheet

******************************************************************/


.header {

	&__inner {
		width: 100%;
		// @include container($wrapper-width);
	}

	@at-root .site-title {
		text-align: center;
		a {
			margin-top: 40vh;
		}
	}
}